.prompt {
    display: block;
}

.cursorInput {
    color: cadetblue;
    display: inline-block;
    width:1%;
    height: 50px;
    vertical-align: top;
}

.cursorInputImg {
    width:100%;
    height: auto;
    vertical-align: top;
}

.typeArea {
    resize: none;
    background: none;
    font-family: "Menlo", consolas, monospace;
    border: 0;
    padding-left: 10px;
    display: inline-block;
    width: 98%;
    outline: none;
    font-size: 10pt;
    color: rgb(141, 223, 226);
}

.suggestions {
    position: fixed;
    top:0;
    right:0;
    border: 0.5px solid transparent;
    border-color: #e0ac00;
    background-color: cadetblue;
    padding: 1px;
    font-size: 12pt;
    color: white;
    width: 50%;
}

.suggestions ul {
    list-style-type: none;
}

.suggestions ul li {
    cursor: pointer;
}

.activeChoice {
    color: rgb(255, 208, 0);
    font-size: 16pt;
}

hr {
    border: 0.1px solid cadetblue;
}

.alignRight {
    text-align: right;
}